body {
  font-family: Arial, sans-serif;
  background-color: #f5f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(218, 223, 226);
  z-index: 2;
}

.content {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  margin-bottom: 30px;
  position: relative; /* Garante que esteja acima da faixa */
  z-index: 2; /* Garante que esteja acima da faixa */
}

.login-box {
  text-align: center;
  font-size: 42px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.login-box h1 {
  margin: 0;
  color: rgb(83, 83, 83);
}

.stripe {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: white;
  z-index: 1; /* Garante que esteja acima do conteúdo */
}

.footer {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
}
