.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-radius: 20px;
  min-width: 45%;
  width: 100%;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 30px;
}
