.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.numberStyle {
  font-size: 32px;
  margin-right: 10px;
  color: #fff;
  background-color: #319795;
  padding: 5px 10px;
  border-radius: 4px;
}

.sec2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
