.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.numberStyle {
  font-size: 32px;
  margin-right: 10px;
  color: #fff;
  background-color: #319795;
  padding: 5px 10px;
  border-radius: 4px;
}

.sec2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 60px;
}

.list2 li {
  margin-bottom: 10px;
}

.first-box {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.first-box-left {
  margin-left: 35px;
}
.first-box-right {
  margin-right: 20px;
  margin-left: 50px;
}
